{% extends 'base.html' %}
{% block title %}ASA Stats - FAQ page{% endblock %}
{% block description %}Frequently asked questions about ASA Stats project and ASASTATS token.{% endblock %}
{% block keywords %}asastats,Algorand,ASA,project,token,questions,answers,features,inquiries,requests{% endblock %}
{% block content %}
<div class="row left-align">
<h1 class="center-align">FAQ</h1>
   <div class="col s12">
    <h2 class="left-align">General</h2>
    <ul class="collection">
      <li class="collection-item">
      <p><strong>What is ASA Stats?</strong>
      <br><br>ASA Stats aims to provide a robust source for the price information of every ASA. One of the primary goals and a measure of success for ASA Stats project is the establishment of decentralized autonomous organization (DAO) that will take over after the initial phase of the project is successfully finished.</a>.
      </li>
      <li class="collection-item">
      <p><strong>How can I access project information?</strong>
      <br><br>We believe in decentralization and transparency. Every word written for a transparent project's organizational purposes should be publicly available.
      <br><br>ASA Stats has only one official communication channel - the <a href="https://github.com/tinymanorg/asa-list" target="_blank" rel="noopener" title="Go to ASA Stats Channel">ASA Stats Channel</a>.
      <br><br>Please refer to <a href="https://www.asastats.com/whitepaper.pdf" target="_blank" rel="noopener" title="Download ASA Stats whitepaper">Whitepaper</a> and <a href="https://github.com/asastats/docs/blob/main/roadmap.md" target="_blank" rel="noopener" title="Go to GitHub Roadmap">Roadmap </a> document for more details.
      <br><br>Every <a href="https://github.com/asastats/channel/wiki/Discussions" target="_blank" rel="noopener" title="Go to ASA Stats Discussions wiki page">ASA Stats discussion</a> besides <a href="https://github.com/asastats/dao-discussion/discussions" target="_blank" rel="noopener" title="Go to DAO discussions repository">DAO discussions</a> will take place in the ASA Stats Channel's <a href="https://github.com/asastats/channel/discussions" target="_blank" rel="noopener" title="Go to Channel's discussions">discussions</a>.
      <br><br>The ASA Stats <a href="https://discord.gg/Vjx7w7pAC7" target="_blank" rel="noopener" title="Go to ASA Stats Discord">Discord server</a>, <a href="https://www.reddit.com/r/asastats/" target="_blank" rel="noopener" title="Go to r/asastats">subreddit</a>, and <a href="https://twitter.com/asastatscom" target="_blank" rel="noopener" title="Go to ASA Stats Twitter">Twitter</a> are Community's channels. Welcome on board.
      </li>
      <li class="collection-item">
      <p><strong>Who owns ASA Stats project?</strong>
      <br><br>Ivica Paleka (@ipaleka on Discord, u/hopemeetme on Reddit) is the founder and right now the only member of ASA Stats Team. Team is founded just to secure meaningful governance by developing the ASA Stats software. The same goes with the funds in the ASA Stats pools, they are borrowed by the Team until a decentralized voting platform is deployed on Algorand Mainnet.
      <br><br>The actual owners of this project are 50 (as on April 2022.) selected governors.
      </li>
      <li class="collection-item">
      <p><strong>When will ASA Stats transition into DAO?</strong>
      <br><br>Before 31 December 2023, the DAO whitepaper will be published, respectively after every piece of the website's code is documented, tested, and open-sourced, the Team will create and sign a smart contract that will unconditionally transfer custody over ASA Stats pools' accounts to the DAO governors.
      </li>
      <li class="collection-item">
      <p><strong>How did ASA Stats choose DAO governors?</strong>
      <br><br>The governors (and their vote count) were defined in the <a href="https://github.com/asastats/dao-discussion/discussions/1" target="_blank" rel="noopener" title="Go to Open Letter">Open Letter</a> and Updates (<a href="https://github.com/asastats/dao-discussion/discussions/6" target="_blank" rel="noopener" title="Go to Governor seats update document">2021-12-12</a>, <a href="https://github.com/asastats/dao-discussion/discussions/9" target="_blank" rel="noopener" title="Go to Governor seats update document">2022-03-30</a>) by the project founder in front of the Team. It is expected that the ASA Stats community becomes more involved in the future governor seat updates.
      </li>
      <li class="collection-item">
      <p><strong>Can I still become a governor?</strong>
      <br><br>Yes, the new governors will be those members of the ASA Stats community who have contributed to the project the most.
      <br><br>After the allocated seats from the Open Letter for the members of the Algorand community are filled, we will discuss additional seats for the Algorand community members.
      </li>
      <li class="collection-item">
        <p><strong>Has ASA Stats secured enough funding?</strong>
        <br><br>Yes, ASA Stats project secured enough funds for the development and deployment of all the <a href="https://github.com/asastats/docs/blob/main/roadmap.md" target="_blank" rel="noopener" title="Go to Roiadmap document">roadmap's sections</a>. There are enough funds under Team's control to secure wages in order to reach the DAO phase not later than December 2023.
      </li>
      <li class="collection-item">
        <p><strong>What method will the DAO use to vote?</strong>
        <br><br>This is yet to be defined. Ongoing discussion can be found in <a href="https://github.com/asastats/dao-discussion/discussions" target="_blank" rel="noopener" title="Go to voting Dapp dicussion">DAO discussions</a>. We are exploring opportunities to work in partnership with the members of Algorand community to provide an MIT licensed <a href="https://github.com/asastats/dao-discussion/discussions/10" target="_blank" rel="noopener" title="Go to voting dApp dicussion">voting dApp</a>. As we get closer to the formation of the DAO, the community will discuss this and make further decisions.
      </li>
    </ul>
  </div>
  <div class="col s12">
    <h2 class="left-align">ASA Stats Token & Rewards</h2>
    <ul class="collection">
      <li class="collection-item">
      <p><strong>What are the ASA Stats project wallets?</strong>
      <br><br>You can find all the ASA Stats project wallets on the <a href="https://www.asastats.com/tokenomics/" target="_blank" rel="noopener" title="Go to Tokenomics page">Tokenomics page</a>. A monthly transparency report will be provided to track the various activities associated with these wallets.</a>.
      </li>
      <li class="collection-item">
      <p><strong>Was there a token presale(s)?</strong>
      <br><br>Yes, The presale options expired on the 15th of December. Everything concerning the token presale(s) was organized around the debate in our Discord #presale-discussion channel. Please refer to the Presale section of the ASA Stats Whitepaper for full details about the presale.
      </li>
      <li class="collection-item">
      <p><strong>Does the ASA Stats Token have Clawback and Freeze enabled?</strong>
      <br><br>No. They were removed permanently on <a href="https://algoexplorer.io/tx/N4PX4NDYKEFV3LUWDPPHA23HLHTCBEWRQFVCEQUEINJKKUSLQA6Q" target="_blank" rel="noopener" title="Go to AlgoExplorer">the 24th of November, 2021</a>, before the first allocations took the place.
      </li>
      <li class="collection-item">
      <p><strong>Where can I purchase the ASA Stats Token?</strong>
      <br><br>The ASA Stats Token is available on <a href="https://app.tinyman.org/#/swap?asset_in=0&asset_out=393537671" target="_blank" rel="noopener" title="Go to Tinyman AMM">Tinyman AMM</a>, <a href="https://app.algodex.com/trade/393537671" target="_blank" rel="noopener" title="Go to AlgoDEX">AlgoDEX</a>. Please refer to <a href="https://www.reddit.com/r/asastats/comments/rdcx6s/how_to_buy_asa_stats_token_asastats_393537671/" target="_blank" rel="noopener" title="Go to How To Buy instructions"></a> and <a href="https://about.algodex.com/docs/algodex-trading-guide-mainnet/" target="_blank" rel="noopener" title="Go to AlgoDEX trading guide">AlgoDEX trading guide</a> for more information.
      </li>
      <li class="collection-item">
      <p><strong>Does the ASA Stats Token have utility, or is it just an investment?</strong>
      <br><br>Once our API (Application Programming Interface) is implemented, the ASA Stats Token will be used to purchase various professional services from ASA Stats, enable user access to paid features, and be used for governance voting in the future DAO.
      <br><br>Feel free to join our <a href="https://github.com/asastats/channel/discussions/1" target="_blank" rel="noopener" title="Go to introductory general discussion">introductory general discussion</a> and suggest which functionalities our API should have.
      </li>
      <li class="collection-item">
      <p><strong>Can I stake the ASA Stats Token?</strong>
      <br><br>Staking pools with <a href="https://yieldly.medium.com/a-note-from-the-founder-2-a-hard-months-work-pays-off-8eb750331fb9" target="_blank" rel="noopener" title="Go to Yieldy announcement article"></a> will launch in April 2022. Please Follow Yieldly announcements for more details.
      <br><br>Meanwhile, we're discussing and arranging meetings with other providers, so please more of them to come in the future.
      </li>
      <li class="collection-item">
        <p><strong>Are there Rewards for Liquidity Providers?</strong>
        <br><br>Yes. Please refer to <a href="https://www.reddit.com/r/asastats/comments/svm1qa/refinement_of_weekly_asastats_lp_rewards/" target="_blank" rel="noopener" title="Go to Reddit post">ASASTATS LP rewards incentive program</a>.
        <br><br>The LP rewards distribution will typically be sent out a few days after the close of each cycle (00:00 UTC each Sunday), and will always occur before the following week's snapshot.
      </li>
      <li class="collection-item">
        <p><strong>Can I get a free airdrop?</strong>
        <br><br>Approximately 30% of the ASA Stats Airdrop budget is still unused, however, it's unlikely that any further airdrops will occur in the next 6 months.
        <br><br>However, if you are already eligible, you can still claim your airdrop if you satisfy any of the following criteria:
        You must have been a member of the ASA Stats community before the Whitepaper's release (11/25/2021) to get Discord, Twitter, Reddit, and Decipher airdrops.
        <br><br> - Discord Airdrop: If you have the OG role and have not yet received your airdrop, please post about in the #airdrop-discussion channel and an admin will contact you.
        <br><br> - <a href="https://www.reddit.com/r/asastats/comments/r230sn/asa_stats_twitter_followers_qualified_for_the/" target="_blank" rel="noopener" title="Go to Reddit post">Twitter Airdrop</a>
        <br><br> - <a href="https://www.reddit.com/r/asastats/comments/r4dtd0/a_list_of_reddit_airdrop_qualifiers_who_havent/" target="_blank" rel="noopener" title="Go to Reddit post">Reddit Airdrop</a>
        <br><br> - Decipher Airdrop: If you purchased a ticket to Decipher (Live or virtual event) before the 25th of November, head to #decipher-airdrop in our Discord and follow the instructions in the pinned message.
      </li>
      <li class="collection-item">
        <p><strong>Can I get ASA Stats Tokens for helping out?</strong>
        <br><br>Absolutely. There are many ways to get rewarded:
        <br><br>1. Reporting bugs / Requesting features
        <br><br>- To get rewarded, an issue for your bug report or a feature request should be created in the <a href="https://github.com/asastats/channel/issues" target="_blank" rel="noopener" title="Go to Channel issues section">Channel issues</a>. Expect your rewards after request/report is resolved.
        <br><br>2. Adding valuable suggestions to official <a href="https://github.com/asastats/channel/discussions" target="_blank" rel="noopener" title="Go to Channel discussions">discussions</a>.
      </li>
      <li class="collection-item">
        <p><strong>How do you estimate community rewards?</strong>
        <br><br>ASA Stats uses the <i>damo</i> measurement when discussing rewards. One damo is equal to 1,000,000 ASA Stats Tokens. The rewards system is evolving as our community matures, but the process of defining community members' rewards is as transparent as the rest of our processes - here's our <a href="https://docs.google.com/spreadsheets/d/1UJ9ZyvV0fdcXAfpUNOsRa1aCmJko-QhF-BU4Wcu6Xog/edit#gid=1130085233" target="_blank" rel="noopener" title="Go to Google Docs document">contribution rewards spreadsheet</a> on Google Docs.
      </li>
    </ul>
  </div>
  <div class="col s12">
    <h2 class="left-align">Service Users</h2>
    <ul class="collection">
      <li class="collection-item">
      <p><strong>Will I need to pay or hold tokens to use the website or its other prospective features?</strong>
      <br><br>All the functionality that you have access to now will remain free, at least until the DAO is formed. Once the DAO is formed, the governor's votes will determine future requirements.
      <br><br>However, in the pre-DAO phase, there will be new features introduced. Some of them will be paid (or require token holding) to access. Possible examples include:
      <br><br>- SMS, email, or browser alerts for events that you choose
      <br><br>- Increased number of addresses in a bundle
      <br><br>- Increased rate of API calls based on your payment tier
      <br><br>- Advanced user widgets
      <br><br>- Advanced user settings
      </li>
      <li class="collection-item">
      <p><strong>Where does ASA Stats retrieve its data from?</strong>
      <br><br>We always aim to use a provider's API/SDK whenever it is possible. We use the Tinyman SDK for retrieving data from Tinyman. We have researched and analyzed providers' smart contracts and escrow accounts, and in some cases, like Algofi, we have used their subsequently published SDK to improve our custom solution.
      <br><br>All ASA icons in the UI come from the Tinyman <a href="https://github.com/tinymanorg/asa-list" target="_blank" rel="noopener" title="Go to Tinyman GitHub">asa-list</a> GitHub repository.
      </li>
      <li class="collection-item">
      <p><strong>How does ASA Stats calculate my portfolio balance?</strong>
      <br><br>Observations of pricing differences generally relate to wallet addresses that hold a significant amount of some token. ASA Stats shows the real price and value for a token - exactly the value you'd get if you try to sell the full amount with a slippage of 0.0% in the Tinyman app.
      </li>
      <li class="collection-item">
      <p><strong>Why does my token price under the Tinyman swap subsection differ from some other price information sources?</strong>
      <br><br>Before 31 December 2023, the DAO whitepaper will be published, respectively after every piece of the website's code is documented, tested, and open-sourced, the Team will create and sign a smart contract that will unconditionally transfer custody over ASA Stats pools' accounts to the DAO governors.
      </li>
      <li class="collection-item">
      <p><strong>Why are the totals calculated in ALGO?</strong>
      <br><br>We believe that great UX requires consistency, and that using ALGO as the default portfolio unifier is the obvious choice. You may check a value in USD by hovering your mouse over the main header showing the total amount in ALGO. We also have a toggle to convert to USD if that's your preference. We plan to support additional fiat choices in the future via variable user settings.
      </li>
      <li class="collection-item">
      <p><strong>What does Not Evaluated mean?</strong>
      <br><br>It means no price is defined anywhere for an ASA (or our development of the related dApp isn't finished yet). e.g. no liquidity pool for the token currently exists.
      </li>
      <li class="collection-item">
        <p><strong>Do I have to type in my wallet every time? Can't I just connect it?</strong>
        <br><br>For now, yes. Or you can bookmark the URL. You can use our service to check not just your portfolio, but also the balances of other wallets you might be interested in.
      </li>
      <li class="collection-item">
        <p><strong>I have a feature request / found a bug, what should I do?</strong>
        <br><br>Tell us, please. We are committed to providing the best portfolio tracker, and the best user experience. The best way is to create an issue for every bug report and a feature request in the <a href="https://github.com/asastats/channel/issues" target="_blank" rel="noopener" title="Go to Channel issues">issues</a>. This official method can get you ASA Stats rewards. Please refer to Question "Can I get ASA Stats Tokens for helping out?" for more details.
        <br><br>You can always let us know in the #bug-report channel on our <a href="https://discord.gg/Vjx7w7pAC7" target="_blank" rel="noopener" title="Go to ASA Stats Discord">Discord</a>, in our <a href="https://www.reddit.com/r/asastats/" target="_blank" rel="noopener" title="Go to r/asastats">subreddit</a>, or by pinging us on <a href="https://twitter.com/asastatscom" target="_blank" rel="noopener" title="Go to ASA Stats Twitter">Twitter</a>.
      </li>
      <li class="collection-item">
        <p><strong>Why historical data of ASA price changes are not implemented by ASA Stats?</strong>
        <br><br>The goal for ASA Stats in pre-DAO phase is to create a solid ground for the DAO from the business perspective (i.e. ASA Stats API Service). Therefore, we currently have no plans to implement historical data of ASA price changes directly on ASA Stats. However, ASA Stats will be encouraging partnerships and sponsoring developers once our API is ready to create advanced web widgets for use in the portfolio view (e.g. ASA price change widget).
      </li>
    </ul>
  </div>
  <div class="col s12">
    <h2 class="left-align">ASA Project Owners</h2>
    <ul class="collection">
      <li class="collection-item">
      <p><strong>Why is my token icon not shown?</strong>
      <br><br>Please add the token icon to the Tinyman <a href="https://github.com/tinymanorg/asa-list" target="_blank" rel="noopener" title="Go to Tinyman GitHub">asa-list</a> GitHub repository, and ASA Stats will add it as soon as possible.
      </li>
      <li class="collection-item">
      <p><strong>Can I advertise my token or service on your platform?</strong>
      <br><br>Not right now. In the pre-DAO phase, there will be no ads and no user tracking on our website. Once the DAO takes over, that will be something for the governors to decide.
      </li>
      <li class="collection-item">
      <p><strong>Whom shall I contact for business proposal/opportunity?</strong>
      <br><br>ASA Stats believe in decentralization and transparency. The project has only one official communication channel - the <a href="https://github.com/asastats/channel" target="_blank" rel="noopener" title="Go to ASA Stats Channel">ASA Stats Channel</a>. If you have a business proposal, a suggestion, or a partnership possibility, we would love to hear from you.
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block otherfooter %}<script type="application/ld+json">{% include "jsonld/faq.jsonld" %}</script>{% endblock %}
