{% extends 'base.html' %}
{% block title %}ASA Stats - Disclaimer{% endblock %}
{% block description %}Disclaimer for the www.asastats.com website. ASA Stats is not liable for any loss of use, loss of profits, or in any way connected with the use of the website.{% endblock %}
{% block keywords %}asastats,Algorand,ASA,disclaimer,terms of use,legal,conditions,responsibility,account,software{% endblock %}
{% block content %}
<h1 class="center-align">Disclaimer</h1>
<div class="row left-align">
  <div class="col s12">
    <p>The website https://www.asastats.com (for the rest of this page, this will be referred to as Website) provides prices information in ALGO retrieved from the Algorand blockchain.<br>
    <br>
    You act at your own risk and the Website is not responsible for any behavior taken or not taken by you in reliance on those information.<br>
    <br>
    The Website will not be responsible for any losses, damages or claims arising from software problems of the Website or technical failures of the Website servers.<br>
    <br>
    In no event the owners of the Website be liable for any loss of use, loss of profits, or in any way connected with the use of the Website.<br>
    <br>
    The Website is provided on an "as is" basis without any warranties of any kind regarding the Website and/or any content, and/or services provided on the Website.
    </p>
  </div>
</div>
{% endblock %}
{% block otherfooter %}<script type="application/ld+json">{% include "jsonld/disclaimer.jsonld" %}</script>{% endblock %}
