{% extends 'base.html' %}
{% block title %}ASA Stats - Disclaimer{% endblock %}
{% block description %}Disclaimer for the www.asastats.com website. ASA Stats is not liable for any loss of use, loss of profits, or in any way connected with the use of the website.{% endblock %}
{% block keywords %}asastats,Algorand,ASA,disclaimer,fair use,investment,warranty,responsibility,legal,conditions,responsibility,account,software{% endblock %}
{% block content %}
<h1 class="center-align">Disclaimer</h1>
<div class="row left-align">
  <h3 id="warranty">Warranty Disclaimer</h3>
  <div class="col s12">
    <p>The information provided by ASA Stats on <a href="https://www.asastats.com" target="_blank" rel="noopener" title="ASA Stats website">https://www.asastats.com</a> (the "Site"') is for general informational purposes only. All information on the Site is provided in good faith, however ASA Stats makes no representation or warranty of any kind, express or implied regarding the accuracy, adequacy, validity, reliability, availability or completeness of any information on the Site.<br>
    </p><br>
  </div>

  <h3 id="responsibility">No Responsibility Disclaimer</h3>
  <div class="col s12">
    <p>ASA Stats is not liable for any damages arising from the use of or inability to use this Site or any material contained in it, or from any action or decision taken as a result of using the Site.<br>
    </p>
    <p>This Site offers links to other sites thereby enabling you to leave this Site and go directly to the linked site. ASA Stats is not responsible for the content of any linked site or any link in a linked site. The links are provided to assist visitors to the Information presented on ASA Stats Site and the inclusion of a link does not imply that ASA Stats endorses or has approved the linked site.<br>
    </p><br>
  </div>

  <h3 id="investment">Investment Disclaimer</h3>
  <div class="col s12">
    <p>Nothing provided by ASA Stats constitutes an investment recommendation, nor should any data or Content published by ASA Stats be relied upon for any investment activities.<br>
    </p>
    <p>ASA Stats strongly recommends that you perform your own independent research and/or speak with a qualified investment professional before making any financial decisions.<br>
    </p><br>
  </div>

  <h3 id="guarantee">No Guarantee Disclaimer</h3>
  <div class="col s12">
    <p>ASA Stats maintains the Site to enhance public access to price information for every ASA on the Algorand blockchain.<br>
    </p>
    <p>This is a service that is continually under development. While we try to keep the information timely and accurate, we make no guarantees. We will make an effort to correct errors brought to our attention.<br>
    </p><br>
  </div>

  <h3 id="fair-use">Fair Use Notice</h3>
  <div class="col s12">
    <p>The Site may contain copyrighted material whose use has not been specifically authorized by the copyright owner.<br>
    </p>
    <p>ASA Stats is making this information available in our efforts to advance the understanding of ASA price information on the Algorand blockchain. ASA Stats believes that this constitutes a "fair use" of the copyrighted material as provided for in section 107 of the US Copyright Law. If your copyrighted material appears on the Site and you disagree with our assessment that it constitutes "fair use", contact us.<br>
    </p><br>
  </div>

</div>
{% endblock %}
{% block otherfooter %}<script type="application/ld+json">{% include "jsonld/disclaimer.jsonld" %}</script>{% endblock %}
