{% extends 'base.html' %}{% load static %}
{% block title %}ASA Stats - Subscription Model{% endblock %}
{% block description %}ASA Stats Subscription model - to use the ASA Stats advantage feature either pick a user subscription or become an ASA Stats DAO governor by staking ASASTATS.{% endblock %}
{% block keywords %}asastats,Algorand,subscription model,subscription tiers,DAO,governors,governance seat,governance voting,stake,subscribe{% endblock %}
{% block content %}
<h1 class="center-align">Subscription Model</h1>
<br>
<div class="row left-align">
  <div class="col s8 offset-s2">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#user">User Subscription</a></li>
      <li class="tab col s6"><a href="#dao">DAO Governors</a></li>
    </ul>
  </div>
  <div id="user" class="col s12">
    <div class="col s6 m3">
      <br>
      <div class="card white medium">
        <div class="card-content home center-align">
          <h5>Intro</h5>
          <br>
          <p>Basic subscription tier that allows only a very reduced set of additional functionalities<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>2500 ASASTATS / Month</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon modal-trigger" href="#onlystakefornow">SUBSCRIBE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 3</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 8</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Private</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Website Theme</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>User Widgets</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>API Access</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>API Endpoints</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Publish ASA Stats User Widgets</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
      </div>
    </div>
    <div class="col s6 m3">
      <br>
      <div class="card white medium">
        <div class="card-content home center-align">
          <h5>Asastatser</h5>
          <br>
          <p>Tier for early adopters and Algorand Enthusiasts<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>18,000 ASASTATS / Month</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon modal-trigger" href="#onlystakefornow">SUBSCRIBE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 8</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 15</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Private</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Website Theme: Initial Set</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Widgets: Initial Set</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Access: Rate-Limited</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Endpoints: Restricted</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Publish ASA Stats User Widgets</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
      </div>
    </div>
    <div class="col s6 m3">
      <br>
      <div class="card white medium">
        <div class="card-content home center-align">
          <h5>Professional</h5>
          <br>
          <p>Ideal for trading professionals, bringing advanced user widgets suitable for ASA trading in real-time<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>38,000 ASASTATS / Month</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon modal-trigger" href="#onlystakefornow">SUBSCRIBE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 18</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 35</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Public</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Website Theme: Distinctive Themes</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Widgets: Specialized Features</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Access: Rate-Limited</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Endpoints: Comprehensive</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Publish ASA Stats User Widgets*</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
        * Conditional
      </div>
    </div>
    <div class="col s6 m3">
      <br>
      <div class="card white medium">
        <div class="card-content home center-align">
          <h5>Cluster</h5>
          <br>
          <p>Ideal for developers and IT companies. Leverage ASA Stats API & resources to build complete software solutions<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>500,000 ASASTATS / Month</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon modal-trigger" href="#onlystakefornow">SUBSCRIBE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 38</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 100</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Public</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>Website Theme: Distinctive Themes</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>User Widgets: Specialized Features</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>API Access: Unlimited</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Endpoints: Comprehensive</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Publish ASA Stats User Widgets*</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
        * Conditional
      </div>
    </div>
  </div>
  <div id="dao" class="col s12">
    <div class="col s6 m3">
      <br>
      <div class="card white medium">
        <div class="card-content home center-align">
          <h5>Intro</h5>
          <br>
          <p>Basic subscription tier that allows only a very reduced set of additional functionalities<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>60,000 ASASTATS</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon" href="https://app.cometa.farm/stake" target="_blank" rel="noopener" title="Stake ASASTATS on Cometa platform">STAKE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Staking Rewards: ASASTATS</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Governance Seat: 10 months staking</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Governance Seat Votes</span>
          </label>
        </p>
        <br>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 3</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 8</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Private</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Website Theme</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>User Widgets</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>API Access</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>API Endpoints</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Publish ASA Stats User Widgets</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
      </div>
    </div>
    <div class="col s6 m3">
      <br>
      <div class="card white medium">
        <div class="card-content home center-align">
          <h5>Asastatser</h5>
          <br>
          <p>Tier for early adopters and Algorand Enthusiasts<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>500,000 ASASTATS</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon" href="https://app.cometa.farm/stake" target="_blank" rel="noopener" title="Stake ASASTATS on Cometa platform">STAKE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Staking Rewards: ASASTATS</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Governance Seat: 10 months staking</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Governance Seat Votes: 64,721</span>
          </label>
        </p>
        <br>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 8</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 15</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Private</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Website Theme: Initial Set</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Widgets: Initial Set</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Access: Rate-Limited</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>API Endpoints: Restricted</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Publish ASA Stats User Widgets</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
      </div>
    </div>
    <div class="col s6 m3">
      <br>
      <div class="card white medium">
        <div class="card-content home center-align">
          <h5>Professional</h5>
          <br>
          <p>Ideal for trading professionals, bringing advanced user widgets suitable for ASA trading in real-time<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>5,000,000 ASASTATS</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon" href="https://app.cometa.farm/stake" target="_blank" rel="noopener" title="Stake ASASTATS on Cometa platform">STAKE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Staking Rewards: ASASTATS</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Governance Seat: 10 months staking</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Governance Seat Votes: 161,803</span>
          </label>
        </p>
        <br>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 18</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 35</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Public</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Website Theme: Distinctive Themes</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Widgets: Specialized Features</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Access: Rate-Limited</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Endpoints: Comprehensive</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Publish ASA Stats User Widgets*</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
        * Conditional
      </div>
    </div>
    <div class="col s6 m3">
      <br>
      <div class="card white medium">
        <div class="card-content home center-align">
          <h5>Cluster</h5>
          <br>
          <p>Ideal for developers and IT companies. Leverage ASA Stats API & resources to build complete software solutions<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>50,000,000 ASASTATS</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon" href="https://app.cometa.farm/stake" target="_blank" rel="noopener" title="Stake ASASTATS on Cometa platform">STAKE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Staking Rewards: ASASTATS</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Governance Seat: 10 months staking</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Governance Seat Votes: 3,236,067</span>
          </label>
        </p>
        <br>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 38</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 100</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Public</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>Website Theme: Distinctive Themes</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>User Widgets: Specialized Features</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>API Access: Unlimited</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Endpoints: Comprehensive</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Publish ASA Stats User Widgets*</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
        * Conditional
      </div>
    </div>
  </div>
</div>
<!-- Modal Structure -->
<div id="onlystakefornow" class="modal">
  <div class="modal-content">
    <h4>Coming Soon</h4>
    <p>User subscription is slated for release in the near future. Stay tuned or check DAO governor subscription!</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-mydark btn-flat">DISMISS</a>
  </div>
</div>
<br>
{% endblock %}
{% block otherfooter %}
<script src="{% static 'js/subscriptions.min.js' %}"></script>
<script type="application/ld+json">{% include "jsonld/subscriptions.jsonld" %}</script>
{% endblock %}
