{% extends 'base.html' %}{% load static %}
{% block title %}ASA Stats - Subscription Model{% endblock %}
{% block description %}ASA Stats Subscription model - subscribe to one of our tiers to use the ASA Stats advanced features.{% endblock %}
{% block keywords %}asastats,Algorand,subscription model,subscription tiers,subscribe{% endblock %}
{% block content %}
<h1 class="center-align">Subscription Model</h1>
<br>
<div class="row left-align">
  <div id="user" class="col s12">
    <div class="col m6 l3">
      <br>
      <div class="card medium">
        <div class="card-content center-align">
          <h5>Intro</h5>
          <br>
          <p>Basic subscription tier that allows only a very reduced set of additional functionalities<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>2500 ASASTATS / Month</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon" href="https://subtopia.io/subscription/2685642641" target="_blank" rel="noopener" title="Subscribe to Intro tier on Subtopia.io">SUBSCRIBE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 3</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 8</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Private</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Bundles sorting/filtering</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Website Theme</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>User Widgets</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>API Access</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>API Endpoints</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Publish ASA Stats User Widgets</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
      </div>
    </div>
    <div class="col m6 l3">
      <br>
      <div class="card medium">
        <div class="card-content center-align">
          <h5>Asastatser</h5>
          <br>
          <p>Tier for early adopters and Algorand Enthusiasts<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>18,000 ASASTATS / Month</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon" href="https://subtopia.io/subscription/2685654686" target="_blank" rel="noopener" title="Subscribe to Asastatser tier on Subtopia.io">SUBSCRIBE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 8</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 15</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Private</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Website Theme: Initial Set</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Widgets: Initial Set</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Access: Rate-Limited</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Endpoints: Restricted</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Bundles sorting/filtering</span>
          </label>
        </p>        
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Publish ASA Stats User Widgets</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
      </div>
    </div>
    <div class="col m6 l3">
      <br>
      <div class="card medium">
        <div class="card-content center-align">
          <h5>Professional</h5>
          <br>
          <p>Ideal for trading professionals, bringing advanced user widgets suitable for ASA trading in real-time<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>38,000 ASASTATS / Month</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon" href="https://subtopia.io/subscription/2685656754" target="_blank" rel="noopener" title="Subscribe to Professional tier on Subtopia.io">SUBSCRIBE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 18</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 35</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Public</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundles sorting/filtering</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Website Theme: Distinctive</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Widgets: Specialized</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Access: Rate-Limited</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Endpoints: Comprehensive</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Publish ASA Stats User Widgets*</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
        * Conditional
      </div>
    </div>
    <div class="col m6 l3">
      <br>
      <div class="card medium">
        <div class="card-content center-align">
          <h5>Cluster</h5>
          <br>
          <p>Ideal for developers and IT companies. Leverage ASA Stats API & resources to build complete software solutions<br>
          </p>
        </div>
        <div class="card-action center-align">
          <strong>500,000 ASASTATS / Month</strong><br>
          <br>
          <a class="waves-effect waves-mydark btn whenmoon" href="https://subtopia.io/subscription/2685660411" target="_blank" rel="noopener" title="Subscribe to Cluster tier on Subtopia.io">SUBSCRIBE</a>
        </div>
      </div>
      <div class="checks">
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Selling Price Optimisation</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>NFT Pricing Model</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>User Bundles: 38</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundled Addresses: up to 100</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle Naming</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundle URL: Public</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Bundles sorting/filtering</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>Website Theme: Distinctive</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>User Widgets: Specialized</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked"  />
            <span>API Access: Unlimited</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>API Endpoints: Comprehensive</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Publish ASA Stats User Widgets*</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Custom Domain Name</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Dedicated Kubernetes Cluster</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Order Development of a user widget</span>
          </label>
        </p>
        * Conditional
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block otherfooter %}
<script src="{% static 'js/subscriptions.min001.js' %}"></script>
<script type="application/ld+json">{% include "jsonld/subscriptions.jsonld" %}</script>
{% endblock %}
